.venv/
__pycache__/
.ruff_cache/
*.md
!README.md
!**/README.md
!CONTRIBUTING.md
!.github/**/*.md
!articles/**/*.md
* copy.md
docs/
.flake8
.mypy_cache/
.DS_Store
node_modules/
dist/
*.vsix
.vscode-test/
.claude/
